<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <h1>index.html</h1>
  <!-- 사용자에게 정보 받을때 form 태그 사용하자 -->
  <!-- action 어떤 url 요청할지-->
  <div class="d-flex flex-column mb-3 mx-3">
    <form action="{% url 'todos:create' %}">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">할 일</span>
        <input type="text" name="content___" maxlength="80">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">할 일</span>
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="p-2">
        <input type="submit" value="할 일 추가">
      </div>
    </form>
  </div>
  <hr>
  <ul>
    {% for todo in todos %}
    <li>{{ todo.id }} - {{ todo.content }} - {{todo.completed}}
      <a href="{% url 'todos:delete' todo.pk %}">삭제</a>
    </li>

    {% endfor %}
  </ul>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>