{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
  <div class="m-5 p-3 border border-3 border-dark rounded">
    {% if request.resolver_match.url_name == 'create' %}
      <h1 class="my-3">
        글쓰기
      </h1>
    {% else %}
      <h1>
        수정하기
      </h1>
    {% endif %}

    <form action="{% url 'reviews:create' %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form review_form %}
      <input type="submit" value="작성">
    </form>
  </div>
{% endblock %}